============================= test session starts ==============================
platform linux -- Python 3.11.2, pytest-8.4.2, pluggy-1.6.0
rootdir: /home/alejandro/Documentos/projects/The QA Castle/Automation-Site/testing-suite/tests
plugins: base-url-2.1.0, playwright-0.7.1
collected 14 items

test_admin.py ..                                                         [ 14%]
test_auth.py ..                                                          [ 28%]
test_checkout_wip.py .                                                   [ 35%]
test_login.py ......                                                     [ 78%]
test_shop_cart.py ..                                                     [ 92%]
test_auth.py .                                                           [100%]

============================== 14 passed in 5.26s ==============================
